<!doctype html>
<html lang="ka">
<head>
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KnowHow AI - Your AI-powered assistant for knowledge and chat.">
    <meta name="keywords" content="AI, KnowHow, chatbot, knowledge, assistant">
    <meta name="author" content="Blueberry Systems">
    <meta property="og:title" content="KnowHow AI">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://accounts.google.com/gsi/client?onload=onLoadCallback" async defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta property="og:description" content="KnowHow AI - Your AI-powered assistant for knowledge and chat.">
<!--    <meta property="og:image" content="https://yourwebsite.com/logo.png">-->
<!--    <meta property="og:url" content="https://yourwebsite.com">-->
<!--    <meta name="twitter:image" content="https://yourwebsite.com/logo.png">-->
    <title>KnowHow AI</title>
<!--    <link rel="canonical" href="https://yourwebsite.com" />-->
</head>
<body>
</body>
</html>
